
<div class="container">
      <div class="well">
     <div class="leaderboard">     
        <h1>New event</h1>
      </div>
    </div>
  </div>
<%= render 'form' %>
<div class="container">
  <div class="well">
<%= button_to 'Back', events_path ,:id => "open-contacts-dialog-btn",
      :class => "inbox-sf-add-btn tip", :method => :get  %>
 </div>
    </div>
