
      <div class="container">

        <div class="well">
<div class="leaderboard">   


       <h1>Club Sessions</h1>
         

        <p>We are all volunteers! and are involved in the Oval Ski Club because of our interest in the sport.</p>
                
      </div>
    </div>
       </div>
       
      <div class="container">
  <div class="well">
      
      <div class="page-header">
      <h3>Sessions</h3>
        <p>The club holds sessions for both Juniors and Adults and covers the full spectrum of ability, from first timers to seasoned racers.
Everyone is welcome to join the club to ski. If you are a beginner then please check the diary for the start date of the next set of beginners lessons.

As we are a members only club everyone must join prior to skiing (see costs below). This only takes a few minutes and can be done at your first visit. Please remember that we are a voluntary, none profit making organisation, so all money raised through membership is used for equipment, instructor training etc so everyone benefits. You will also receive discounts from various local sports shops.</p>
         
    
      </div>
      <div class="container">
        <iframe width="460" height="315" src="http://www.youtube.com/embed/yOveLBduJKk" frameborder="3" allowfullscreen></iframe>
      </div>
      <section id="Fee">
   <div class="container">
    <h4>Annual Membership Fees</h4>
    <dl>
      <dt>Junior Membership</dt>
      <dd>£7.00</dd>
      <dt>Senior Membership</dt>
      <dd>£15.00</dd>
      <dt>Family Membership</dt>
      <dd>£30.00</dd>
    </dl>
    <p>(Membership requires renewal at the start of each season in September)
Joining is simple: just go down to the ski hut during session hours and speak to any one of the committee members or helpers. Or click here to see how to contact us.</p>
</div>
</section>
 <section id="Junior">
<div class="container">
    <h4>Junior Club (5+ to under 18 's) - Saturday morning 10.00am - 1.00pm</h4>
    <dl>
      <dt>5+ to under 11's</dt>
      <dd>10.00am - 11.00am</dd>
      <dt>11+</dt>
      <dd>11.30am - 1.00pm</dd>
    </dl>
    <p>Cost: £5.00 per session (£2.00 if you use your own equipment)</p>
</div>
 </section>
  <section id="Adult">
<div class="container">
    <h4>Adult Club - Sunday evening 5.00pm - 8.00pm</h4>
    <dl>
      <dt>Beginners</dt>
      <dd>5.00pm - 6.00pm</dd>
      <dt>Open skiing session</dt>
      <dd>6.00pm - 7.00pm</dd>
      <dt>Improvers/advanced lesson</dt>
      <dd>7.00pm - 8.00pm</dd>
    </dl>
    <p>Occasionally we run family sessions so adults and kids can ski together. All skiers must be able to turn and stop safely to ski during these sessions. The dates will be advertised in the ski hut on the notice board and frequency will depend on demand.
    Note that during these sessions there will be no instruction.

    Cost: £5.00 per session (£2.00 if you use your own equipment)</p>
</div>
 </section>
</div>
</div>
