<div class="container">

        <div class="well">
<div class="leaderboard">   


        <h1>Contact Us</h1>
      
        <p>If you want to contact are lovely staff then just give us an e-mail or a phone call an we will gladly help with your enquiries.</p>
                
      </div>
    </div>
         
        </div>
    
      <div class="container">
        <div class="well">
          <h4>E-mail</h4>
          </br>
          <p>
        <span id="ctl00_bodyContent_mcsFaq_lDetail">If you have a question and can’t find an answer on the <a href="aboutus">About Us</a> page then please send us an email and we’ll deal with it a.s.a.p.<br /><br />All enquiries : <a href="mailto:skienquiries@ovalskiclub.com">SkiEnquiries@OvalSkiClub.com</a></span>
      </p>
</div>
</div>
<div class="container">
        <div class="well">
          <h4>By phone</h4>
          </br>
          <d1>
            <dt>John Wahlers (Chairman)</dt>
            <dd>:0151 645 2452</dd>
<dt>Belinda Dawson (Secretary)</dt>
<dd>:0151 342 9756</dd>
<dt>Tony McClave (Race Secretary)</dt>
<dd>:t.b.c.</dd>
          </d1>
</div>
</div>

<div class="container">
        <div class="well">
          <h4>Location</h4>
        </br>
          <p>By visiting usWe are at the ski hut located towards the rear of the Oval Sports Centre, Bebington, Wirral, Merseyside. Please ask at the sports centre reception if you can’t find us.We are open Saturday Mornings and Sunday Evenings throughout the ski season (see club sessions page for additional date information)</p>

           <center> <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/?q=CH637LF&amp;ie=UTF8&amp;hq=&amp;hnear=CH63+7LF,+United+Kingdom&amp;ll=53.35926,-3.007053&amp;spn=0.00671,0.021136&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.co.uk/?q=CH637LF&amp;ie=UTF8&amp;hq=&amp;hnear=CH63+7LF,+United+Kingdom&amp;ll=53.35926,-3.007053&amp;spn=0.00671,0.021136&amp;t=m&amp;z=14&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small> For a more detailed map go to <a target="_blank" href="http://maps.google.co.uk?q=CH637LF"> Google Maps</a></center>
          </div>
      
</div>




