<div class="container">

        <div class="well">
<div class="leaderboard">   


        <h1>Gallery</h1>
      
                      
      </div>
    </div>
    <div class= "well">
         <div id="slideshow">

  <ul class="slides">
    <% @articles.each do |article| %>
        
           <% if article.image.exists? %>
                <li><%= image_tag article.image.url(), :id => article.title %></li>
            <%else%>
      
        <li><img src="../assets/skiing2.jpg" alt="Scenery" width ="446" height = "344" /></li>
       <%end%>
           <%end%>
    </ul>

    <span class="arrow previous"></span>
    <span class="arrow next"></span>
</div>
</div>


       <br/>
       <br/>

 
         </div>
   
