<div class="container">

        <div class="well">
<div class="leaderboard">   

        <h1>Gallery</h1>
    
                      
      </div>
    </div>
  
</div>
<div class="container">

        <div class="well">
         <div class="content">
        
<center>
        <div id="galleria"></div>
</center>

    </div>

    <script>

    // Load the classic theme
    Galleria.loadTheme('../assets/galleria.classic.min.js');

    // Initialize Galleria
    Galleria.run('#galleria', {

        // search flickr for "galleria"
        flickr: 'user:93650488@N08',
        
        flickrOptions: {
            // sort by interestingness
            sort: 'interestingness-desc'
        }
    });
    </script>

    </div>
</div>

        
   
