<div class="container">

        <div class="well">
<div class="leaderboard">   


       <h1>Club Holiday</h1>
                      
      </div>
    </div>
      
   
        </div>
         <div class="container">
      <div class="well">
      <div id="myCarousel" class="carousel slide">
        <!--Carousel items -->
        <div class="carousel-inner">
          <div class="active item">
            <img src="../assets/skilodge6.gif" alt="Spiral Staircase">
            <div class="carousel-caption">
              <h4>Spiarl Staircase</h4>
              <p>One of the many artistic features that the ski lodge has!!</p>
            </div>
          </div>
          <div class="item">
            <img src="../assets/skilodge9.png" alt="Lovely Decor">
            <div class="carousel-caption">
              <h4>Top Notch Rooms!!</h4>
              <p>We went all out with the rooms!! Plus room service :)</p>
            </div>
          </div>
          <div class="item">
            <img src="../assets/skilodge2.gif" alt="Scenery">
            <div class="carousel-caption">
              <h4>What a view!!</h4>
              <p>Was a very beautiful location right up within the mountains.</p>
            </div>

          </div>
          
        </div>
        <!-- Carousel nav -->
         <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>
  
      <div class="container">
        <div class="well">
      
       <p>Each season the club organises a holiday to one of the popular resorts in Europe. The holiday is arranged over the Easter break making it available to all club members. The group size varies each year, based on flight availability and what the demand is expected to be, and can be anything from 50 - 100 people.</p>
   
        </div>
      </div>


        
          <div class="container">
            <div class="well">

         

          <h4>St.Christoph/St.Anton, Austria Saturday 23rd March - 30th March 2013</h4>
          <p>Set in a spectacular open snow-bowl 500m above neighbouring St Anton, and just a short skibus ride from Lech & Zürs, the village shares Austria's No. 1 world-class ski area the Arlbeg 
          with the other famous-name resorts.  At 1800m St.Christoph offers snow sure skiing, and puts 
          the savvy skier at the centre of it’s thinking.  Efficient high speed lifts take you from the village 
          to the heart of St.Anton’s slopes; whilst St. Christoph has its own nursery slopes and excellent 
          ski school making it also perfect for beginners and young families.  The village is small, pretty 
          and quiet, attracting a more exclusive cliental; whilst neighbouring St.Anton (a 10 minute free 
          bus ride—busses run until  after 1:00am) offers the main night life, bars, shops, and non ski 
          leisure activities (such as ice skating, curling and sports centre.) </p>
</div>
<div class="container">
          <div class="well">
            <div class="row-fluid">
     <ul class="thumbnails">
      
                <li class="span6">
                <a  class="thumbnail">
                 <img src="../assets\skiing2.jpg" alt="Epic Skiing"> 
                </a>
              </li>
             
              <li class="span6">
                <a  class="thumbnail">
                  <img src="../assets\Arlberg.jpg" alt="High Altitude Skiing">
                </a>
              </li>
                            
            </ul>
            </div>
          </div>
          </div>
           
          


         </div>
      
         
        <div class="container">
          <div class="well">

          <p>Famed in Austria as 'the birthplace of skiing', the magnificent Arlberg is one of those select few 
          ski areas which fully justifies its 'world-class' reputation.  Renowned for its challenging slopes, 
          both on and off-piste, the area also includes many wonderful miles of picturesque intermediate 
          skiing, from high altitude, snow-sure open bowls to picturesque tree-lined pistes down to the 
          valley.  The area has two distinct halves, with St.Christoph perfectly positioned in the middle.  
          St.Anton and its even higher neighbours, St.Christoph and Stuben, are linked with an efficient 
          ski bus service connecting this side of the region with the huge network of slopes surrounding Lech and Zürs,including the excellent 'Borderpark' above Lech.<p>    
          </div>   
        </div>
      </div>


        



        <div class="example">
       
        <div class="ppy" id="ppy1">
            <ul class="ppy-imglist">
                <li>
                    <a href="http://farm4.static.flickr.com/3461/3760102198_0e3de1eec3.jpg">
                        <img src="http://farm4.static.flickr.com/3461/3760102198_0e3de1eec3_m.jpg" alt="" />
                    </a>
                    <span class="ppy-extcaption">
                        <strong>Eyes of a Holcocephala fusca Robber Fly</strong><br />shot by flickr member Thomas Shahan<br />
                        <a href="http://www.flickr.com/photos/opoterser/3760102198/">View on flickr.com</a>
                    </span>
                </li>
                <li>
                    <a href="http://farm2.static.flickr.com/1317/908814138_9fa713a687.jpg">
                        <img src="http://farm2.static.flickr.com/1317/908814138_9fa713a687_m.jpg" alt="" />
                    </a>
                    <span class="ppy-extcaption">
                        <strong>Crocodile's eye</strong><br />shot by flickr member Tambako the Jaguar<br />
                        <a href="http://www.flickr.com/photos/tambako/908814138/">View on flickr.com</a>
                    </span>
                </li>
                <li>
                    <a href="http://farm4.static.flickr.com/3357/3633927491_d8864d5235.jpg">
                        <img src="http://farm4.static.flickr.com/3357/3633927491_d8864d5235_m.jpg" alt="" />
                    </a>
                    <span class="ppy-extcaption">
                        <strong>Daipeem</strong><br />shot by flickr member Furryscaly<br />
                        <a href="http://www.flickr.com/photos/furryscalyman/3633927491">View on flickr.com</a>
                    </span>
                </li>
                <li>
                    <a href="http://farm4.static.flickr.com/3335/3198858060_365ce0ba53.jpg">
                        <img src="http://farm4.static.flickr.com/3335/3198858060_365ce0ba53_m.jpg" alt="" />
                    </a>
                    <span class="ppy-extcaption">
                        <strong>basiliscus plumifrons</strong><br />shot by flickr member Joachim S. Müller<br />
                        <a href="http://www.flickr.com/photos/joachim_s_mueller/3198858060/in/set-72157612281941653/">View on flickr.com</a>
                    </span>
                </li>
                <li>
                    <a href="http://farm3.static.flickr.com/2597/4162969117_cbbc452a26.jpg">
                        <img src="http://farm3.static.flickr.com/2597/4162969117_cbbc452a26_m.jpg" alt="" />
                    </a>
                    <span class="ppy-extcaption">
                        <strong>Eyes of Jumping spider</strong><br />shot by flickr member Lukjonis<br />
                        <a href="http://www.flickr.com/photos/38628972@N05/4162969117/">View on flickr.com</a>
                    </span>
                </li>
            </ul>
            <div class="ppy-outer">
                <div class="ppy-stage">
                    <div class="ppy-nav">
                        <a class="ppy-prev" title="Previous image">Previous image</a>
                        <a class="ppy-switch-enlarge" title="Enlarge">Enlarge</a>
                        <a class="ppy-switch-compact" title="Close">Close</a>
                        <a class="ppy-next" title="Next image">Next image</a>
                    </div>
                </div>
            </div>
            <div class="ppy-caption">
                <div class="ppy-counter">
                    Image <strong class="ppy-current"></strong> of <strong class="ppy-total"></strong> 
                </div>
                <span class="ppy-text"></span>
            </div>
        </div>
      </div>
    
