<p id="notice"><%= notice %></p>

<p>
  <b>Controller:</b>
  <%= @author_session.controller %>
</p>


<%= link_to 'Edit', edit_author_session_path(@author_session) %> |
<%= link_to 'Back', author_sessions_path %>
